<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    
    <add name ="resumeMakerConnection" connectionString="Data Source=BIZDATA-L014;Initial Catalog=ResumeMaker;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ResumeMaker.Services.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ResumeMaker.Services.Service1">
        <endpoint address="" behaviorConfiguration="ResumeMaker.Services.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="ResumeMaker.Services.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>