

            <div class="panel-body">
               


                <div class="row">
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Details
                            </header>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="CompanyName">Company </label>
                                        <input class="form-control" id="CompanyName" placeholder="Enter company name">
                                    </div>
                                    <div class="form-group">
                                        <label for="RoleTitle">Role Title</label>
                                        <input class="form-control" id="RoleTitle" placeholder="Enter Role Title">
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                               Achievements and Resposibilities
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="CompanyName">Achievements </label>
                                        <input style="height:110px;" rows="4" class="form-control" id="Achievements" placeholder="Achievements">
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button data-bind="click:SaveExperience" class="btn btn-danger">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
       